    body {
    overflow-y: hidden;
    overflow-x: auto;
    transition: all .8s;
    margin: 0;
    padding: 0;
    height: 100vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-color: #000;
}

    h2 {
    animation: 1s blink linear infinite;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.birthdayCard {
    position: relative;
    top: 5%;
    left: 40%;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform: perspective(2500px);
    transition: 1s;
}

.card {
    cursor: pointer;
    width: 250px;
    height: 350px;
}

.card-inner {    
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 0.8s;
    z-index: 5;
}

.cardFront {
        cursor: pointer;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #f02c4c;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
    transition: .6s;
    border: 2px solid gold;
    border-radius: 10%;
}

.happy {
        cursor: pointer;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition: .1s;
}

.balloons {
        cursor: pointer;
    position: absolute;
}

.balloonOne {
        cursor: pointer;
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
    background-color: rgb(239, 71, 111, 0.7);
    left: -10px;
    top: 50px;
}

.balloonOne:before, .balloonTwo:before, .balloonThree:before, .balloonFour:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
}

.balloonOne:after {
    border-bottom: 10px solid #ef476f;
}
.balloonOne:after, .balloonTwo:after, .balloonThree:after, .balloonFour:after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.balloonTwo {
        cursor: pointer;
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
    background-color: rgb(6, 214, 160, 0.7);
    left: 50px;
    top: 20px;
}

.balloonThree {
        cursor: pointer;
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
    background-color: rgb(255, 209, 102, 0.7);
    left: 110px;
    top: 50px;
}

.balloonFour {
        cursor: pointer;
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
    background-color: rgb(17, 138, 178, 0.7);
    left: 170px;
    top: 20px;
}

.plate {
        cursor: pointer;
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #843a24;
    left: 60px;
    top: 320px;
}

.plate:before {
    content: "";
    position: absolute;
    background: repeating-linear-gradient(-45deg, #7300ff, #7300ff 3px, #00ffdd 3px, #00f5d4 6px);
    width: 7px;
    height: 25px;
    top: -75px;
    left: 61px;
}

.cake {
        cursor: pointer;
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 50px;
    background-color: #f0199a;
    border-radius: 10px 10px 0 0;
    top: -50px;
    left: 15px;
    box-shadow: inset 0 -15px #f9824f, inset 0 15px #472511;
}

.cake:before {
    content: "";
    position: absolute;
    background-color: #432818;
    width: 10px;
    height: 20px;
    top: 5px;
    border-radius: 20px;
    box-shadow: 10px 5px #f0acd5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #dba8c7, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #ca9eb8;
}

.flame {
        cursor: pointer;
    position: absolute;
    background-color: #ff5100;
    border: 1px solid #ffa500;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    width: 15px;
    height: 15px;
    opacity: 0.7;
    top: -93px;
    left: 56px;
    box-shadow: 0px 0px 2px 2px #ff652edb;
    animation: flame 30ms 200ms ease-in infinite alternate;
    transform: rotate(-47.8466deg) scaleY(0.942575);
}

.plate:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 5px;
    background-color: #333;
    top: -80px;
    left: 64px;
}

.card-back {
        cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    border-right: 2px dashed gold;
    background: linear-gradient(280deg, #f18396, #a500f1);
    border-radius: 10%;
}


.card-back img {
    cursor: pointer;
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 4px;
    border-radius: 10%;
}

.cardInside {
        cursor: pointer;
    position: absolute;
    background-color: #F7879A;
    width: 250px;
    height: 350px;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
    border: 2px solid gold;
    border-left: 2px dashed gold;
    border-radius: 10%;
}

.back {
        cursor: pointer;
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 20px;
    outline-color: #333;
    outline-style: dashed;
}

p {
        cursor: pointer;
    font-family: cursive;
    margin: 2px 8px 8px 18px;
    color: #000;
}

#desc {
        cursor: pointer;
    font-family: cursive;
    margin: 2px 8px 8px 18px;
    color: #000;
    font-size: medium;
    position: relative;
    height: 210px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.name {
    cursor: pointer;
    bottom: -5px;
    font-family: cursive;
    margin: 2px 8px 8px 18px;
    position: fixed;
    right: 0px;
    text-align: right;
    color: #333;
    text-decoration: underline;
}

@media all and (max-width: 600px) {
    h2 {
    position: absolute;
    left: 20%;
    top: 10%;
    color: #ffffff;
}

.birthdayCard {
    left: 20%;
    top: 200px;
}

#background-video {
    width: 300%;
}

body {
    overflow-y: hidden;
    overflow-x: scroll;
    }

}
